body {
    background-color: darkslategray;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: cornsilk;
    text-decoration: none;
}

a:hover {
    color: rgb(154, 63, 240);
    text-decoration: none;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
    #colorbox {
        background-color: red;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        width: 80%;
    }
    #colorbox {
        background-color: orange;
    }
}

@media screen and (min-width: 981px) and (max-width: 1400px) {
    main {
        width: 70%;
    }
    #colorbox {
        background-color: yellow;
    }
}

