body {
    background-color:cyan;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1 {
    color: rgb(43, 128, 226);
    padding-bottom: 20px;
}

h2 {
    color: rgb(43, 128, 226);
    text-align: left;
    padding-bottom: 10px;
}

p {
    color: rgb(144, 68, 142);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color:aliceblue;
    text-decoration: none;
}

