<nav>
    <a href="https://webpages.charlotte.edu/aganges/">home page</a> ||
    <a href="https://github.com/Angel-khalil/Angel-Khalil.github.io">github repository</a> ||
    <a href="https://github.com/Angel-khalil">github </a> ||
    <a href="https://www.freecodecamp.org/AngelKGanges">FFC profile</a> ||
    <a href="https://www.codecademy.com/profiles/unccGangesK">code academy profile</a> ||
    <a href="https://www.linkedin.com/in/angel-ganges-b2b781342/">linkedin</a> ||
    <a href="gangesdesigns.com/index.html" target="_blank">Firm Page</a></nav>

</nav>
<p>Page built by <a href="https://www.freecodecamp.org/certification/AngelKGanges/responsive-web-design">FCC Responsive Web Design Certificate</a> &copy; 2025 </p>

<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img class="validation-img" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>

<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img class="validation-img" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>